
<h1>Login</h1>

<form id='login' action='/login' method='post'>
  <input type="text" placeholder="username" name="username" class="username"/>
  <input type="password" placeholder="password" name="password" class="password"/>
  <input type="submit" value='Log In' class="loginBtn"/>
</form>
