
<h1>Login</h1>

<form id='login' action='/balance' method='post'>
  <input type="text" placeholder="username" class="username"/>
  <input type="password" placeholder="password" class="password"/>
  <input type="submit" value='Login' class="loginBtn"/>
</form>
