<h1>Sign Up</h1>

<form id='signup' action='/login' method='post'>
  <input type="text" placeholder="username" class="username"/>
  <input type="password" placeholder="password" class="password"/>
  <input type="submit" value='Sign Up' class="loginBtn"/>
</form>
