html {
  text-align: center;
  background-color: #1d3f75;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.title {
  font-family: 'Holtwood One SC', serif;
  color: yellow;
  letter-spacing: 3px;
  font-size: 2.5em;
}

.howMuch, .peopleNum, .calcBtn, .whoTo, .pay, .username, .password, .loginBtn, .create, .pin, .accountNumber, .balance {
  width: 80%;
  padding: 4%;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.calcBtn, .pay, .loginBtn, .create {
  width: 50%;
  background-color: yellow;
  border-radius: 3px;
  color: #1d3f75;
  text-transform: uppercase;
}

.peopleNum, .whoTo, .password, .loginBtn, .accountNumber {
  margin: 1%;
}
